@import "reset.css";
@font-face {
    font-family: calibri;
    src: url(../font/calibri.ttf);
}
@font-face {
    font-family: verdana;
    src: url(../font/verdana_reg.ttf);
}

/*основные блоки*/
/*header*/
/*footer*/
/*основные плашки*/



/*основные блоки*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    background: rgb(242,251,253);
    background: -moz-linear-gradient(top,  rgba(242,251,253,1) 0%, rgba(194,237,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,251,253,1)), color-stop(100%,rgba(194,237,248,1)));
    background: -webkit-linear-gradient(top,  rgba(242,251,253,1) 0%,rgba(194,237,248,1) 100%);
    background: -o-linear-gradient(top,  rgba(242,251,253,1) 0%,rgba(194,237,248,1) 100%);
    background: -ms-linear-gradient(top,  rgba(242,251,253,1) 0%,rgba(194,237,248,1) 100%);
    background: linear-gradient(to bottom,  rgba(242,251,253,1) 0%,rgba(194,237,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fbfd', endColorstr='#c2edf8',GradientType=0 );
}
.alignFix {
    width: 980px;
    margin: 0 auto;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.floatLeft {
    float: left;
}



/*header*/

header.header {
    width: 100%;
    height: 71px;
    padding:  10px 0;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid  #978f73;
    background: rgb(255,228,102);
    background: -moz-linear-gradient(top,  rgba(255,228,102,1) 0%, rgba(255,187,1,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,228,102,1)), color-stop(100%,rgba(255,187,1,1)));
    background: -webkit-linear-gradient(top,  rgba(255,228,102,1) 0%,rgba(255,187,1,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,228,102,1) 0%,rgba(255,187,1,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,228,102,1) 0%,rgba(255,187,1,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,228,102,1) 0%,rgba(255,187,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe466', endColorstr='#ffbb01',GradientType=0 );
}
header.header:before {
    content: '';
    width: 100%;
    height: 9px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("../img/line-head.png") repeat-x;
}
.logo {
    width: 190px;
    font: 12px calibri, sans-serif ;
    float: left;
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
}
.nav {
    height: 50px;
    padding: 16px 0 0 0;
    display: inline-block;
}
.nav_item {
    font: 16px calibri, sans-serif;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 6px;
    position: relative;
    -webkit-transition: background 0.5s ease,color 0.4s ease;
    -o-transition: background 0.5s ease,color 0.4s ease;
    -moz-transition: background 0.5s ease,color 0.4s ease;
    transition: background 0.5s ease,color 0.4s ease;
}
.nav_item:hover {
    color: #ffffff;
    background: #E1C471;
}
.nav_item_selected {
    background: #e1ac00;
    color: #ffffff;
}
.nav_item:not(:last-of-type):after {
    content: " | ";
    display: inline-block;
    color: #000000;
    background: none;
    position: absolute;
    right: -5px;
}
.langbox {
    width: 45px;
    height: 55px;
    padding-top: 3px;
    display: inline-block;
    float: right;
}
.lang{
    display: inline-block;
    padding: 2px 0 2px 22px;
    font: 12px arial, sans-serif;
    color: #000000;
    text-decoration: none;
}
.lang:hover {
    text-decoration: underline;
}
.pic-ru{
    background: url("../img/pic_ru.png") no-repeat;
}
.pic-en{
    background: url("../img/pic_en.png") no-repeat;
}
.pic-de{
    background: url("../img/pic_de.png") no-repeat;
}

/*footer*/

.push{
    height: 175px;
    clear: both;
}
footer.footer {
    height: 155px;
    margin-top: -155px;
    position: relative;
    clear: both;
    color: #bfbebe;
    font: 14px arial, sans-serif ;
    line-height: 1.5;
    background: rgb(25,34,38) ;
    background: -moz-linear-gradient(top,  rgba(25,34,38,1) 0%, rgba(61,64,65,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,34,38,1)), color-stop(100%,rgba(61,64,65,1)));
    background: -webkit-linear-gradient(top,  rgba(25,34,38,1) 0%,rgba(61,64,65,1) 100%);
    background: -o-linear-gradient(top,  rgba(25,34,38,1) 0%,rgba(61,64,65,1) 100%);
    background: -ms-linear-gradient(top,  rgba(25,34,38,1) 0%,rgba(61,64,65,1) 100%);
    background: linear-gradient(to bottom,  rgba(25,34,38,1) 0%,rgba(61,64,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192226', endColorstr='#3d4041',GradientType=0 );
}
footer.footer:before {
    content: '';
    width: 100%;
    height: 9px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background: url("../img/line-foot.png") repeat-x;
}
.footer_lineBg {
    width: 100%;
    height: 155px;
    padding-top: 20px;
    background:  url("../img/line-footer-bg.png") repeat;
}
.foot_contacts {
    width: 25%;
}
.foot_nav {
    width: 25%;
}
.foot_nav_item a {
    color: #bfbebe;
    font: 14px arial, sans-serif ;
    text-decoration: none;
}
.foot_nav_item:before {
    content: '>' ;
}
.foot_nav_item a:hover{
    text-decoration: underline;
}
.foot_schedule {
    width: 25%;
}
.foot_schedule li:first-child {
    text-decoration: underline;
    font-weight: bold;
}
.foot_social {
    width: 25%;
    text-align: center;
}
.foot_social_item {
    padding: 10px 1px;
    display: inline-block;
}

/*основные плашки*/

.button {
    width: auto;
    height: 30px;
    padding: 7px 10px 0 10px;
    margin: 10px auto 0;
    display: inline-block;
    text-align: center;
    font: 14px calibri, sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgb(255,229,120);
    background: -moz-linear-gradient(top,  rgba(255,229,120,1) 0%, rgba(236,178,3,1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,229,120,1)), color-stop(99%,rgba(236,178,3,1)));
    background: -webkit-linear-gradient(top,  rgba(255,229,120,1) 0%,rgba(236,178,3,1) 99%);
    background: -o-linear-gradient(top,  rgba(255,229,120,1) 0%,rgba(236,178,3,1) 99%);
    background: -ms-linear-gradient(top,  rgba(255,229,120,1) 0%,rgba(236,178,3,1) 99%);
    background: linear-gradient(to bottom,  rgba(255,229,120,1) 0%,rgba(236,178,3,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe578', endColorstr='#ecb203',GradientType=0 );
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
button.button {
    padding-top: 0;
}
.button:active {
    background: rgb(236,178,3);
    background: -moz-linear-gradient(top,  rgba(236,178,3,1) 0%, rgba(255,229,120,1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,178,3,1)), color-stop(99%,rgba(255,229,120,1)));
    background: -webkit-linear-gradient(top,  rgba(236,178,3,1) 0%,rgba(255,229,120,1) 99%);
    background: -o-linear-gradient(top,  rgba(236,178,3,1) 0%,rgba(255,229,120,1) 99%);
    background: -ms-linear-gradient(top,  rgba(236,178,3,1) 0%,rgba(255,229,120,1) 99%);
    background: linear-gradient(to bottom,  rgba(236,178,3,1) 0%,rgba(255,229,120,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecb203', endColorstr='#ffe578',GradientType=0 );
    -webkit-box-shadow: -2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -2px -2px 5px 0px rgba(50, 50, 50, 0.75);
}
.plate {
    width: 250px;
    height: auto;
    float: left;
}
.plate_item{
    width: 100%;
    min-height: 140px;
    padding: 20px 20px;
    margin-bottom: 10px;
    display: inline-table;
    position: relative;
    background: rgb(22,105,158);
    background: url("../img/plate_bg.png") repeat-x left bottom , -moz-linear-gradient(top,  rgba(22,105,158,1) 0%, rgba(28,147,198,1) 25%, rgba(28,147,198,1) 75%, rgba(20,103,159,1) 100%);
    background: url("../img/plate_bg.png") repeat-x left bottom , -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,105,158,1)), color-stop(25%,rgba(28,147,198,1)), color-stop(75%,rgba(28,147,198,1)), color-stop(100%,rgba(20,103,159,1)));
    background: url("../img/plate_bg.png") repeat-x left bottom , -webkit-linear-gradient(top,  rgba(22,105,158,1) 0%,rgba(28,147,198,1) 25%,rgba(28,147,198,1) 75%,rgba(20,103,159,1) 100%);
    background: url("../img/plate_bg.png") repeat-x left bottom , -o-linear-gradient(top,  rgba(22,105,158,1) 0%,rgba(28,147,198,1) 25%,rgba(28,147,198,1) 75%,rgba(20,103,159,1) 100%);
    background: url("../img/plate_bg.png") repeat-x left bottom , -ms-linear-gradient(top,  rgba(22,105,158,1) 0%,rgba(28,147,198,1) 25%,rgba(28,147,198,1) 75%,rgba(20,103,159,1) 100%);
    background: url("../img/plate_bg.png") repeat-x left bottom , linear-gradient(to bottom,  rgba(22,105,158,1) 0%,rgba(28,147,198,1) 25%,rgba(28,147,198,1) 75%,rgba(20,103,159,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16699e', endColorstr='#14679f',GradientType=0 );
}
.plate_item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.plate_item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.plate_box {
    text-align: center;
}
.plate_caption {
    min-height: 50px;
    display: block;
    padding: 5px 0 0 60px;
    margin: 0 0 10px 15px;
    font: 18px calibri, sans-serif ;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}
.plate_currency .plate_caption {
    padding-top: 15px;
}
.plate_cap_icon-track{
    background: url("../img/icon-track.png") no-repeat left 0;
}
.plate_cap_icon-call {
    background: url("../img/icon-call.png") no-repeat left 0;
}
.plate_cap_icon-phone {
    background: url("../img/icon-phone.png") no-repeat left 0;
}
.plate_cap_icon-currency {
    background: url("../img/icon-currency.png") no-repeat left 0;
}
.plate_search {
    height: 30px;
    margin: 0 -10px;
}
.plate_inp {
    width: 155px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #066c8a;
    border-radius: 10px;
    display: inline-block;
    font: 14px arial, sans-serif;
    color: #606060;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    0px 0px 30px 3px rgba(255, 255, 255, 0.75);
    box-shadow:         0px 0px 30px 3px rgba(255, 255, 255, 0.75);
}
.plate_phone_number {
    font: 30px calibri, sans-serif;
    color: #ffffff;
}
.plate_phone_number span {
    font-size: 19px;
}
.plate_currency table {
    width: 100%;
    border-spacing: 1px;
}
.plate_currency table th {
    font: 15px calibri, sans-serif;
    text-align: center;
    color: #ffffff;
}
.plate_currency table td {
    font: 14px calibri, sans-serif;
    text-align: center;
    background: #ffffff;
}
.plate_currency table tr td:first-child {
    color: #166ba0;
    font-weight: bold;
}

/*таблицы*/
.table {
    width: 100%;
    border: 1px solid #eac755;
    font: 16px calibri, sans-serif;

}
.table th {
    background: #f8d565;
    border-right: 1px solid #eac755;
    padding: 5px 5px 5px 10px;
}
.table tr:nth-child(even) {
    background: #fff5c8;
}
.table td {
    border-right: 1px solid #eac755;
    padding: 5px 5px 5px 10px;
    vertical-align: middle;
}

/*контент общий*/

.informationBox {
    width: 720px;
    height: 650px;
    float: right;
    position: relative;
}
.informationBox h2 {
     font: 20px calibri, sans-serif;
     color: #035c91;
     margin-bottom: 10px;
 }
.informationBox h3 {
    font: 18px calibri, sans-serif;
    color: #035c91;
    margin-bottom: 10px;
}
.informationBox h4 {
    font: 16px calibri, sans-serif;
    color: #035c91;
    margin-bottom: 10px;
}
.informationBox p,
.informationBox ul{
    font: 14px calibri, sans-serif;
    color: #2f2f2f;
    margin-bottom: 10px;
}
.informationBox ul {
    padding-left: 20px;
}
.informationBox ul li:before{
    content: '- ';
}
.tab-panel {
    display: inline-block;
    min-height: 150px;
}
.tab-nav {
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    margin-right: 1px;
    font: 16px calibri, sans-serif;
    border-radius: 10px 10px 0 0;
    background: rgb(213,213,213);
    background: -moz-linear-gradient(top,  rgba(213,213,213,1) 0%, rgba(162,162,162,1) 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,213,213,1)), color-stop(98%,rgba(162,162,162,1)));
    background: -webkit-linear-gradient(top,  rgba(213,213,213,1) 0%,rgba(162,162,162,1) 98%);
    background: -o-linear-gradient(top,  rgba(213,213,213,1) 0%,rgba(162,162,162,1) 98%);
    background: -ms-linear-gradient(top,  rgba(213,213,213,1) 0%,rgba(162,162,162,1) 98%);
    background: linear-gradient(to bottom,  rgba(213,213,213,1) 0%,rgba(162,162,162,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#a2a2a2',GradientType=0 );
    -webkit-transition: background 0.5s ease,color 0.2s ease;
    -o-transition: background 0.5s ease,color 0.2s ease;
    -moz-transition: background 0.5s ease,color 0.2s ease;
    transition: background 0.5s ease,color 0.2s ease;
}
.tab-nav:hover {
    color: #efefef;
    background: rgb(150,211,229);
    background: -moz-linear-gradient(top,  rgba(150,211,229,1) 0%, rgba(96,169,197,1) 96%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,211,229,1)), color-stop(96%,rgba(96,169,197,1)));
    background: -webkit-linear-gradient(top,  rgba(150,211,229,1) 0%,rgba(96,169,197,1) 96%);
    background: -o-linear-gradient(top,  rgba(150,211,229,1) 0%,rgba(96,169,197,1) 96%);
    background: -ms-linear-gradient(top,  rgba(150,211,229,1) 0%,rgba(96,169,197,1) 96%);
    background: linear-gradient(to bottom,  rgba(150,211,229,1) 0%,rgba(96,169,197,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d3e5', endColorstr='#60a9c5',GradientType=0 );
}
.tab-open:checked ~ .tab-nav {
    color: #ffffff;
    border: 1px solid #1b8dc2;
    background: rgb(48,191,234);
    background: -moz-linear-gradient(top,  rgba(48,191,234,1) 0%, rgba(28,152,200,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,191,234,1)), color-stop(100%,rgba(28,152,200,1)));
    background: -webkit-linear-gradient(top,  rgba(48,191,234,1) 0%,rgba(28,152,200,1) 100%);
    background: -o-linear-gradient(top,  rgba(48,191,234,1) 0%,rgba(28,152,200,1) 100%);
    background: -ms-linear-gradient(top,  rgba(48,191,234,1) 0%,rgba(28,152,200,1) 100%);
    background: linear-gradient(to bottom,  rgba(48,191,234,1) 0%,rgba(28,152,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bfea', endColorstr='#1c98c8',GradientType=0 );

}
.tab-inner {
    width: 100%;
    height : 92%;
    opacity: 0;
    margin: -1px 0 20px 0;
    padding: 30px 20px;
    position: absolute;
    left: 0;
    background: #ffffff;
    visibility: hidden;
    border-top: 3px solid #1b8dc2;
    border-left: 1px solid #87b9cf;
    border-right:  1px solid #87b9cf;
    border-bottom:  1px solid #87b9cf;
}
.tab-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.tab-open:checked ~ .tab-inner {
    opacity: 100;
    visibility: visible;
}


/*main*/

.oneLine {
    width: 100%;
    height: 2px;
    background: #000000;
    margin-bottom: 6px;
}
.twoLine {
    width: 100%;
    height: 6px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-bottom: 18px;
}
.slider {
    width: 100%;
    height: 360px;
    margin-bottom: 6px;
    background: #cccccc;
    border-radius: 10px;
}

/*плашки для главной*/

.main {
    width: 100%;
    height: 155px;
}
.main .plate_item {
    width: 33%;
    height: 155px;
    padding: 20px 30px;
}
.main .plate_item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main .plate_item:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main .plate_search {
    height: 35px;
    margin: 0 -10px;
}
.main .plate_caption {
    width: 200px;
    font-size: 18px;
    padding: 5px 0 0 60px;
    margin: 0 0 10px 50px;
}
.main .button {
    width: auto;
    height: 35px;
    padding: 7px 10px 0 10px;
    margin: 10px auto;
    font-size: 16px;
}
.main button.button {
    padding-top: 0;
}
.main .plate_inp {
    width: auto;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
}
.main .plate_phone_number {
    font-size: 40px;
}
.main .plate_phone_number span {
    font-size: 29px;
}


/*tariff*/


/*partner*/

.partner-row {
    width: 100%;
    height: auto;
    margin: 15px 0;
    color: #5c5c5c;
}
.partner-item {
    width: 150px;
    display: inline-table;
    margin-right: 2px;
    text-align: center;
    overflow: hidden;
}
.partner-item:last-child {
    margin: 0;
}
.partner-img {
    width: 150px;
    height: 150px;
    border: 2px solid #7fb1c7;
    margin-bottom: 10px;
}
.partner-img img {
    width: 100%;
    height: 100%;
}
.partner-title {
    font: 14px calibri, sans-serif;
    padding: 10px;
}
.partner-table th {
    width: 30%;
}
.partner-table th:last-child {
    width: 10%;
}
/*information*/

/*manual*/

.ins-tab-panel {
    display: block;
    width: 220px;
    height: auto;
    min-height: 30px;
    font: 16px calibri, sans-serif;
}
.ins-tab-panel:first-child {
    margin-top: 25px;
}
.ins-tab-nav {
    width: 210px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 3px;
    font: 16px calibri, sans-serif;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
    background: #ffeea3;
    border: 1px solid #f0be1d;
    color: #5c5c5c;
}
.ins-tab-nav:hover {

}
.ins-tab-open:checked ~ .ins-tab-nav {
    border: 1px solid #1b8dc2;
    color: #166ca1;
    background: #ffffff;

}
.ins-tab-inner {
    width: 460px;
    height : 90%;
    opacity: 0;
    margin: -1px 0 -20px 0;
    padding: 30px 20px;
    position: absolute;
    left: 220px;
    top: 30px;
    background: #ffffff;
    visibility: hidden;
    border-top: 1px solid #1b8dc2;
    border-left: 1px solid #87b9cf;
    border-right:  1px solid #87b9cf;
    border-bottom:  1px solid #87b9cf;

}
.ins-tab-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.ins-tab-open:checked ~ .ins-tab-inner {
    opacity: 100;
    visibility: visible;
}


/*feedback*/
#feedback {
    width: 340px;
    margin-left: 170px;
    /*font: 14px calibri, sans-serif;*/
    /*color: #2f2f2f;*/
}
/*#feedback h2{*/
    /*font-size: 28px;*/
    /*color: #035c91;*/
    /*margin-bottom: 20px;*/
/*}*/
#feedback_text {
    width: 340px;
    height: 170px;
    resize: none;
    font: 14px arial, sans-serif;
    border: 1px solid #035c91;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.feedback_for-sending {
    width: 150px;
}
.feedback_for-sending label {
    display: block;
    margin-bottom: 10px;
}
#feedback_mail {
    width: 150px;
    /*margin-bottom: 10px;*/
    /*height: 30px;*/
    /*padding: 5px 10px;*/
    /*border: 1px solid #035c91;*/
    /*border-radius: 10px;*/
    /*font: 14px arial, sans-serif;*/
}
#feedback_mail:focus,
#feedback_text:focus {
    -webkit-box-shadow: 0px 0px 20px 3px rgba(28, 152, 200, 0.64);
    -moz-box-shadow:    0px 0px 20px 3px rgba(28, 152, 200, 0.64);
    box-shadow:         0px 0px 20px 3px rgba(28, 152, 200, 0.64);
}
.feedback_for-sending button{
    width: 100%;
}

/*FAQ*/
.information {
    padding-left: 15px;
}
.information > section{
    margin-bottom: 20px;
    font: 14px calibri, sans-serif;
    color: #2f2f2f;
}
.information > section h3 {
    font: 16px calibri, sans-serif;
    color: #035c91;
    margin-bottom: 10px;
}
.information > section p {
    padding-left: 40px;
    margin-bottom: 10px;
}
.information > section ul{
    padding-left: 50px;
    margin-bottom: 10px;
}
.information > section ul li:before{
    content: '- ';
}

/*about*/
.photos-row {
    width: 100%;
    height: auto;
    margin: 15px 0;
    color: #5c5c5c;
}
.photos-item {
    width: 32%;
    display: inline-table;
    margin-right: 2px;
    text-align: center;
    overflow: hidden;
}
.photos-item:last-child {
    margin: 0;
}
.photos-img {
    display: block;
    border: 2px solid #7fb1c7;
    margin-bottom: 10px;
}
.photos-img img {
    width: 100%;
    height: 100%;
}
.photos-title {
    font: 14px calibri, sans-serif;
    text-align: center;
}






